<%= render 'head' %>
<%= form_with(model: @task, local: true, url: update_path(id: @task.id), html: { class: "reg_form", autocomplete: "off" }) do |form| %>
  <div class="error_div edit_error">
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= t 'todo_not_edit' %></h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="signup_div get_info_div">
    <div class="field">
      <%= form.text_field :title, placeholder: t('what_to_do') %>
    </div>
    <div class="field">
      <%= form.text_field :content, placeholder: t('explanation') %>
    </div>
    <div class="row field">
      <div id="select_caption"><%= t 'hidden'%>  </div>
      <%= form.check_box :is_private %>
    </div>
    <div class="field">
      <%= form.select :group, [[t('plans'), "В планах"], [t('in_work'), "В работе"], [t('done'), "Выполнено"]] %>
    </div>
    <div class="actions">
      <%= form.submit t('submit') %>
    </div>
  </div>
<% end %>
