<%= render 'todoer/head' %>

<%= form_with(model: @user, local: true, html: { class: "reg_form", autocomplete: "off" }) do |form| %>
  <div class="error_div edit_error">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= t 'not_edit' %></h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="get_info_div edit_user_info_div">
    <p id="notice"><%= notice %></p>
    <div class="field">
      <%#= form.label :name %>
      <%= form.text_field :name, placeholder: t('name'), class: "edit_input" %>
    </div>

    <div class="field">
      <%#= form.label :email %>
      <%= form.text_field :email, placeholder: t('email'), class: "edit_input" %>
    </div>

    <div class="field">
      <%#= form.label :password %>
      <%= form.password_field :password, placeholder: t('password'), class: "edit_input" %>
    </div>

    <div class="field">
      <%#= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, placeholder: t('again_password'), class: "edit_input" %>
    </div>

    <div class="field">
      <%= form.file_field :avatar %>
    </div>

    <div class="actions">
      <%= form.submit t('submit') %>
    </div>
<% end %>
<div id="space"></div>
<%= link_to t('delete'), user_path(current_user), method: :delete, data: { confirm: t('delete_confirm') } %>

</div>
